@model PetServices.Models.Service

<h1>Delete Service</h1>

<div>
    <h3>Are you sure you want to delete the service <strong>@Model.ServiceName</strong>?</h3>
    <form asp-action="Delete" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="@Url.Action("Index", "Services")" class="btn btn-secondary">Cancel</a>
    </form>
</div>
